@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

/* name and headings*/

h1 {
    font-family: playfair-display, sans-serif;
    text-transform: uppercase; 
    color: #1d3557;
}

#name {
    font-size: 300%;
    text-align: center;
}