@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #354F52;
    background-color: #CAD2C5;
}

/* name and headings*/

h1, h2 {
    font-family: playfair-display, sans-serif;
    text-transform: uppercase; 
    color: #2F3E46;
}


#name {
    font-size: 300%;
    text-align: center;
    padding: 20px;
}

header a {
    text-decoration: none;
}

/* navigation links */


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CAD2C5;  
}

.flex-container > div {
    background-color: #CAD2C5;
    width: 120px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }

.flex-container a {
    color:#354F52;
}

/* main image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/main-image.jpg) no-repeat center center;
}